<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>

    <div class="new_main">
      <span id="wordTag" style="display: none;"><%= word1 %></span>
      <%- include("./partials/partial_3_TechEngTur") %>
      <br>
      <span style="color: red; font-weight: bold;">SONUÇ BULUNAMADI / NO RESULTS: </span> <span><%= word1 %></span> <br><br>
      <span>NOT: Aradığınız kelimeyi küçük harfle yazın</span><br>
      <span>NOTE: Write your word in small letters</span>
    </div>
    <%- include("./partials/partial_5_script") %>
  </body>
</html>
