<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>
    <div class="new_main">
      <span id="wordTag" style="display: none;"><%= word1 %></span>
      <%- include("./partials/partial_3_TurEng") %>
      <br>
      <% for (var key in word_data) { %>
        <div class="commentBox">
          <span id="sentence1"><strong><%= word_data[key].input1 %></strong></span>
          <span id="sentence2"><strong><%= word_data[key].input2 %></strong></span>
        </div>
      <% } %>
    </div>
    <%- include("./partials/partial_5_script") %>
  </body>
</html>
